@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <br/>
    <h5>This is a VERY SIMPLE crypto marketplace website </h5>
    <br/>
</div>
